
h1{
    color: red;
    align-content: center;
    font-family: sans-serif;
}

.mylist{
border: 2px solid grey;
margin: 0 auto;
    width: 50vw;
    height: 50vh;
}

.addbutton{
    margin: 60px;
    color:white;
    border-radius: 1000px;
    margin: 0 auto;
    background-color:green;
    text-align: center;
}

.delbtn{
    margin: 0 auto;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 1000px;
    margin: 60px;
}

body {
background-color: aliceblue;

}

